target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin
.env

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# === Compilação e Artefatos do Maven ===
target/
*.jar
*.war
*.ear
*.nar

# === Relatórios e Binários do Allure ===
.allure/
allure-results/
allure-report/

# === Playwright e Navegadores ===
# Ignora downloads locais de navegadores ou traços de execução
.playwright/
test-results/
playwright-log.txt

# === Logs e Arquivos Temporários ===
*.log
*.tmp
*.bak

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store